удалить/.gitignore
удалить/.idea/blog.iml
удалить/.idea/copyright/profiles_settings.xml
удалить/.idea/modules.xml
удалить/.idea/vcs.xml
удалить/.idea/watcherTasks.xml
удалить/.idea/workspace.xml
удалить/admin/.htaccess
удалить/admin/.htpasswd
удалить/admin/index.php
удалить/article.php
удалить/css/bootstrap-theme.css
удалить/css/bootstrap-theme.min.css
удалить/css/bootstrap.css
удалить/css/bootstrap.min.css
удалить/css/style.css
удалить/css/style.css.map
удалить/css/style.scss
удалить/database.php
удалить/fonts/glyphicons-halflings-regular.eot
удалить/fonts/glyphicons-halflings-regular.svg
удалить/fonts/glyphicons-halflings-regular.ttf
удалить/fonts/glyphicons-halflings-regular.woff
удалить/fonts/glyphicons-halflings-regular.woff2
удалить/index.html
удалить/index.php
удалить/js/bootstrap.js
удалить/js/bootstrap.min.js
удалить/models/articles.php
удалить/models/ii.php
удалить/views/article.php
удалить/views/article_admin.php
удалить/views/articles.php
удалить/views/articles_admin.php
