body {
  padding: 0 !important;
  background-color: #f5f6f9;
  a:hover{
    text-decoration: none;
    color: #ffa000;
  }
  a{
    color: #a98c4f;
  }
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .vtop {
    vertical-align: top;
    padding: 31px 0;
  }

  header {
    .header_logo {
      img {

        $size_logo: 89px;
        width: $size_logo;
        height: $size_logo;
      }
    }
    .header_account, .header_logo, .header_account_login {
      display: inline-block;
      .header_account_login {
        text-align: center;
      }

    }
    .header_account {

      .material-icons {
        font-size: 55px;
      }
    }
  }
  main {
    .main_top {
      .main_photo {
        height: 450px;
        padding: 0;
        margin: 0;
      }
      .main_photo:first-child {
        background: url("../img/main_photo_01.jpg") no-repeat;
      }
      .main_photo:nth-child(2) {
        background: url("../img/main_photo_02.jpg") no-repeat;
      }
      .main_photo:nth-child(3) {
        background: url("../img/main_photo_03.jpg") no-repeat;
      }
      .main_photo:last-child {
        background: url("../img/main_photo_04.jpg") no-repeat;
      }
    }
    .main_content {
      .main_content_articles {
        a{
          text-transform: uppercase;
          font-size: 21px;
        }
        .main_content_articles_title{
          h2:after{
            display: block;
            padding-top: 13px;
            width: 30%;
            content: "";
            border-bottom:2px #ffa000 solid;
          }
        }
        .photo_article {
          width: 640px;
          padding: 30px 0px;
        }
      }

      .main_content_article {
        .main_content_article_text {
          p {
            border-bottom: 1px #bdbdbd solid;
            padding: 0;
            margin: 0;
          }
          .main_content_article_views {
            strong {
              font-size: 12px;
            }
          }
        }
      }

    }
  }

}